<% include ../header %>

<form class='containers offset-1 col-10'>
	<div class='row'>
		<% if (locals.users) {locals.users.forEach(function(tmp) {%>
		<div class='ml-2 ml-lg-5 mr-5 col-lg-3 border border-dark mb-5'>
			<div class='row'>
				<div class=' col-12'>
					<% if (tmp.img_profil === 1) { %>
					 <a href="/user?id=<%= tmp.uid%>"><img src="upload/<%= tmp.uid%>-1.png" class="img-thumbnail profil float-left ml-1 mr-1" alt="Photo profil"></a>
					 <% } else { %>
					 <a href="/user?id=<%= tmp.uid%>"><img src="upload/noprofil.png" class="img-thumbnail profil float-left ml-1 mr-1" alt="Photo profil"></a>
					 <% } %>
	 <p><span id='login'><%= tmp.login%></span><br/>
	 <%= tmp.firstname%><br/>
	 <%= tmp.lastname%><br/>
	 membre depuis : <%= tmp.inscription%><br/>
	 <% if (tmp.tlastco > 360) { %>
		derniere connection : <%= tmp.lastco%><br/>
	<% } else { %>
		En ligne.<br />
		<% } %>
	 <%= tmp.age%> ans<br/>
	 <% if (tmp.orientation === 1) {%>
	 cherche : Homme<br/>
	 <% } else if (tmp.orientation === 2) {%>
	 Cherche : Femme<br/>
	 <% } else {%>
	 Cherche : Homme/Femme<br/>
	 <% } if (tmp.genre === 1) {%>
	 sexe : Homme<br/>
	 <% } else {%>
	 sexe : Femme<br/></p>
	 <% } if (locals.like && locals.like[tmp.id_user]) {%>
		<a href="/unlike/<%= tmp.uid%>" class='badge badge-primary'>Ne plus matcher</a>
	 <% } else {%>
		<a href="/like/<%= tmp.uid%>" class='badge badge-primary'>Matcher</a>
	 <% }%>
				</div>
			<a href="/addblist/<%= tmp.uid%>" class='badge badge-primary'>Bloquer</a>
			<a href="/report/<%= tmp.uid%>" class='badge badge-primary'>Reporter faux compte</a>
			</div>
			<div class='row'>
					<span class='bg-light col-12'><%= tmp.bio%></span>
			</div>
			<div>
			<% if (tmp.tags) {tmp.tags.forEach(function(ta) {%>
				<span class='badge badge-info'><%= ta %> </span>
			<%})}%>
			</div>
		</div>
	<%})}%>
	</div>
</form>
<%if (locals.chat && locals.chat[0]) {%>
<div class='container'>
	<form action=''>
	<div class='card offset-md-1 col-md-9'>
		<div class="card-header">Message</div>
		<ul id='message' class='card-body'>
		<%locals.chat.forEach(function(chatmes){%>
			<li><%=chatmes.login_posteur%> : <%=chatmes.message%></li>
		<%})%>
		</ul>
	</div>
	<div class='row'>
		<input id='m' class="offset-1 col-md-9"/><button>Envoyer</button>
		</div>
	</form>
</div>
<script>
	$('#message').scrollTop(1E10)
	$(function() {
		var socketio = io.connect()
		$('form').submit(function() {
			var msg = {
				"user" : $('#login').text(),
				"data" : $('#m').val()
			}
			socketio.emit('chat message', msg)
			$('#message').append($('<li>').text('Vous : ' + msg.data))
			$('#message').scrollTop(1E10)
			$('#m').val('')
			return false
		})
		socketio.on('chat message', function(msg) {
			if (msg.user === $('#login').text())
				$('#message').append($('<li>').text(msg.user + ' : ' + msg.data))
				$('#message').scrollTop(1E10)
		})
	})
</script>
<%}%>
<% include ../footer %>
