<% include ../header %>

	<% if (locals.users) {locals.users.forEach(function(tmp) {%>
	<div class='offset-1 col-10'>
		<div class='usercenter border border-primary user'>
			<div class='d-inline-block'>
				<% if (tmp.p_profil) { %>
					<a href="/user?id=<%= tmp.uid%>"><img src="<%=tmp.p_profil%>" class="img-thumbnail profil ml-1 mr-1" alt="Photo profil"></a>
				<% } else if (tmp.img_profil === 1) { %>
					 <a href="/user?id=<%= tmp.uid%>"><img src="upload/<%= tmp.uid%>-1.png" class="img-thumbnail profil ml-1 mr-1" alt="Photo profil"></a>
				 <% } else { %>
					 <a href="/user?id=<%= tmp.uid%>"><img src="upload/noprofil.png" class="img-thumbnail profil ml-1 mr-1" alt="Photo profil"></a>
				 <% } %>
			 </div>
			 <div class='d-inline-block'>
				 <span id='login'><%= tmp.login%></span>
				 <% if (tmp.genre === 1) {%>
					  <img src='./glyphicons_free/glyphicons/png/glyphicons-751-gender-male.png' class='icons'><br/>
				 <% } else {%>
					  <img src='./glyphicons_free/glyphicons/png/glyphicons-752-gender-female.png' class='icons'><br/>
				 <% } %>
				 <%= tmp.firstname%> 
				 <%= tmp.lastname%>
				 <div id='popu'><span class='poputxt'><%=tmp.pop%></span></div>
			 </div>
			 <div>
				membre depuis le <%= tmp.inscription%><br/>
				<% if (tmp.tlastco > 360) { %>
				derniere connection : <%= tmp.lastco%><br/>
				<% } else { %>
				En ligne.<br />
				<% } %>
				 <%= tmp.age%> ans<br/>
				 <% if (tmp.orientation === 1) {%>
				 Recherche un Homme<br/>
				 <% } else if (tmp.orientation === 2) {%>
				 Recherche une Femme<br/>
				 <% } else {%>
				 Recherche un Homme ou une Femme<br/>
				 <% } %>
			 </div>
			 <div id='iduser' class='d-none'><%=tmp.uid%></div>
			 <div id='match'>
				 <% if (tmp.tlikeid && tmp.tlikeid !== 0) {%>
					<a href="/unlike/<%= tmp.uid%>" id='matchen' class='badge badge-primary'>Ne plus matcher</a>
				 <% } else {%>
					<a href="/like/<%= tmp.uid%>" id='matchey' class='badge badge-primary'>Matcher</a>
				 <% }%>
			 </div>
			<div class='bio'><%= tmp.bio%></div>
			<div>
				<span> Centre d'interet </span> <br/>
				<% if (tmp.tags) {tmp.tags.forEach(function(ta) {%>
					<span class='badge badge-info'><%= ta %> </span>
				<%})}%>
			</div>
			<div class='report float-right'>
				<a href="/addblist/<%= tmp.uid%>" class='badge badge-primary'>Bloquer</a>
				<a href="/report/<%= tmp.uid%>" class='badge badge-primary'>Reporter faux compte</a>
			</div>
			<% if (locals.imgu1 || locals.imgu2 || locals.mgu3 || locals.imgu4) { %>
			<br/>
			<br/>
			<br/>
			<br/>
			<ul class="carousel-indicators">
				<li data-target="#demo" data-slide-to="0" class="active"></li>
				<li data-target="#demo" data-slide-to="1"></li>
				<li data-target="#demo" data-slide-to="2"></li>
				<li data-target="#demo" data-slide-to="3"></li>
			</ul>
			<div id="demo" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<% if (locals.imgu1) { %>
						<div class="carousel-item active">
							<img src="<%=locals.imgu1%>" class="" alt="Photo 1">
						</div>
					<% } %>
					<% if (locals.imgu2) { %>
						<div class="carousel-item <% if (!locals.imgu1) {%>active<%}%>">
							<img src="<%=locals.imgu2%>" class="" alt="Photo 2">
						</div>
					<% } %>
					<% if (locals.imgu3) { %>
						<div class="carousel-item <% if (!locals.imgu1 && !locals.imgu2) {%>active<%}%>">
							<img src="<%=locals.imgu3%>" class="" alt="Photo 3">
						</div>
					<% } %>
					<% if (locals.imgu4) { %>
						<div class="carousel-item <% if (!locals.imgu1 && !locals.imgu2 && !locals.imgu3) {%>active<%}%>">
							<img src="<%=locals.imgu4%>" class="" alt="Photo 4">
						</div>
					<% } %>
				</div>
			</div>
			<a class="carousel-control-prev" href="#demo" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			</a>
			<a class="carousel-control-next" href="#demo" data-slide="next">
				<span class="carousel-control-next-icon"></span>
			</a>
			<% } %>
		</div>
	</div>
	<%})}%>
<% include ../footer %>
